# **Applying Advanced Transformations**

**Name:** **Derek Overton**

**Date:** **3/2/2023**

**Assignment:** **Applying Advanced Transformations**

# **Imports**

In [1]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Additional Imports
import os, json, math, time
from tqdm.notebook import tqdm_notebook

# **Load Data**

In [2]:
# Upload Superhero Info data:
shi = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vS1ZstYLwFgwhZnqDsPjtnlHYhJp_cmW55J8JD5mym0seRsaem3px7QBtuFF0LiI7z1PLCkVKAkdO7J/pub?output=csv')

In [3]:
# Show Superhero Info dataframe:
shi.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [4]:
shp = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSzdWOBaXOoz52vPmCFV5idNlDBohLY1Lsbc1IfZIZQ7cV_aNB2wYBfhF49uE1TaO1B5MQCGWiNrFfd/pub?output=csv')

In [5]:
# Show Superhero Powers dataframe
shp.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

# **Clean and Combine into one final DataFrame**

In [6]:
# Get information about dataframes:
shi.info()
shp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_names  667 non-null    object
 1   Powers      667 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

In [7]:
shi['Hero|Publisher'].head()

0            A-Bomb|Marvel Comics
1    Abe Sapien|Dark Horse Comics
2              Abin Sur|DC Comics
3       Abomination|Marvel Comics
4     Absorbing Man|Marvel Comics
Name: Hero|Publisher, dtype: object

In [8]:
shi['Hero|Publisher'].str.split('|',expand=True)

                   0                  1
0             A-Bomb      Marvel Comics
1         Abe Sapien  Dark Horse Comics
2           Abin Sur          DC Comics
3        Abomination      Marvel Comics
4      Absorbing Man      Marvel Comics
..               ...                ...
458     Yellowjacket      Marvel Comics
459  Yellowjacket II      Marvel Comics
460             Yoda       George Lucas
461          Zatanna          DC Comics
462             Zoom          DC Comics

[463 rows x 2 columns]

In [9]:
## save the 2 new columns into the dataframe
shi[['Hero','Publisher']] = shi['Hero|Publisher'].str.split('|',expand=True)
shi.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [10]:
## drop the original column 
shi = shi.drop(columns=['Hero|Publisher'])
shi.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [11]:
# merge the two dataframes on the 'Hero' column
merged_df = pd.merge(shi, shp, left_on='Hero', right_on='hero_names')

In [12]:
merged_df

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,hero_names,Powers
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,A-Bomb,"Accelerated Healing,Durability,Longevity,Super..."
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,Abe Sapien,"Agility,Accelerated Healing,Cold Resistance,Du..."
2,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}",Abin Sur,DC Comics,Abin Sur,Lantern Power Ring
3,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",Abomination,Marvel Comics,Abomination,"Accelerated Healing,Intelligence,Super Strengt..."
4,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}",Absorbing Man,Marvel Comics,Absorbing Man,"Cold Resistance,Durability,Energy Absorption,S..."
...,...,...,...,...,...,...,...,...,...,...,...
458,Male,Human,good,Blond,blue,Unknown,"{'Height': '183.0 cm', 'Weight': '83.0 kg'}",Yellowjacket,Marvel Comics,Yellowjacket,"Size Changing,Animal Oriented Powers"
459,Female,Human,good,Strawberry Blond,blue,Unknown,"{'Height': '165.0 cm', 'Weight': '52.0 kg'}",Yellowjacket II,Marvel Comics,Yellowjacket II,"Flight,Energy Blasts,Size Changing"
460,Male,Yoda's species,good,White,brown,green,"{'Height': '66.0 cm', 'Weight': '17.0 kg'}",Yoda,George Lucas,Yoda,"Agility,Stealth,Danger Sense,Marksmanship,Weap..."
461,Female,Human,good,Black,blue,Unknown,"{'Height': '170.0 cm', 'Weight': '57.0 kg'}",Zatanna,DC Comics,Zatanna,"Cryokinesis,Telepathy,Magic,Fire Control,Proba..."
462,Male,Unknown,bad,Brown,red,Unknown,"{'Height': '185.0 cm', 'Weight': '81.0 kg'}",Zoom,DC Comics,Zoom,"Super Speed,Intangibility,Time Travel,Time Man..."

In [13]:
merged_df['Measurements'].apply(pd.Series)

                                                0
0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
2     {'Height': '185.0 cm', 'Weight': '90.0 kg'}
3    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
4    {'Height': '193.0 cm', 'Weight': '122.0 kg'}
..                                            ...
458   {'Height': '183.0 cm', 'Weight': '83.0 kg'}
459   {'Height': '165.0 cm', 'Weight': '52.0 kg'}
460    {'Height': '66.0 cm', 'Weight': '17.0 kg'}
461   {'Height': '170.0 cm', 'Weight': '57.0 kg'}
462   {'Height': '185.0 cm', 'Weight': '81.0 kg'}

[463 rows x 1 columns]

In [14]:
# Slice out a single test Measurement
test_ms = merged_df.loc[1,'Measurements']
test_ms

"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"

In [15]:
# Make a list of all characters to replace
to_replace = ['(',')']
# run a loop to replace all of the characters in the list at once
for char in to_replace:
    merged_df['Measurements'] = merged_df['Measurements'].str.replace(char,'',regex=False)
    
merged_df['Measurements'].head()

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
2     {'Height': '185.0 cm', 'Weight': '90.0 kg'}
3    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
4    {'Height': '193.0 cm', 'Weight': '122.0 kg'}
Name: Measurements, dtype: object

In [16]:
json.loads(merged_df)

TypeError: the JSON object must be str, bytes or bytearray, not DataFrame

In [ ]:
# Check the signle record
test_ms

In [ ]:
# replace single ' with "
test_ms = test_ms.replace("''", '"')
test_ms

In [ ]:
## replace ' with " (entire column)
merged_df['Measurements'] = merged_df['Measurements'].str.replace("'",'"')

## drop NaN values
merged_df.dropna(subset=['Measurements'], inplace=True)

## apply json.loads
merged_df['Measurements'] = merged_df['Measurements'].apply(json.loads)

In [ ]:
## slice out a single test coordinate
merged_df = merged_df.loc[5,'Measurements']
type(test_ms)

In [ ]:
## use .apply pd.Series to convert a dict to columns
merged_df['Measurements'].apply(pd.Series)

In [ ]:
## Concatenate the 2 new columns and drop the original.
merged_df = pd.concat([merged_df,merged_df['Measurements'].apply(pd.Series)],axis =1)
merged_df =merged_df.drop(columns= 'Measurements')
merged_df.head(2)

In [ ]:
powers = set()
for powers_list in hero_df['Powers'].str.split(','):
    if isinstance(powers_list, float):
        continue
    for powers in powers_list:
        powers.add(powers.strip())
        
for powers in powers:
    hero_df[powers] = hero_df['Powers'].apply(lambda x: int(powers in x.split(',')))

## **Compare the average weight of super powers who have Super Speed to those who do not.**

In [ ]:
# check for existence of 'Super Speed' in the columns
if 'Super Speed' in hero_df.columns:
    # calculate average weight of heroes with 'Super Speed'
    super_speed_avg_weight = np.mean(hero_df[hero_df['Super Speed'] == True]['Weight'])
    print(f"Average weight of heroes with 'Super Speed': {super_speed_avg_weight}")

    # calculate average weight of heroes without 'Super Speed'
    no_super_speed_avg_weight = np.mean(hero_df[hero_df['Super Speed'] == False]['Weight'])
    print(f"Average weight of heroes without 'Super Speed': {no_super_speed_avg_weight}")
else:
    print("'Super Speed' not found in columns")

## **What is the average height of heroes for each publisher?**

In [ ]:
def convert_height_to_cm(height):
    if type(height) != str:
        return None
    try:
        height_cm = int(height.split()[0]) * 30.48 + int(height.split()[2]) * 2.54
        return height_cm
    except:
        return None

In [ ]:
hero_df['Height'] = hero_df['Height'].str.replace(' cm', '').astype(float)

In [ ]:
hero_df.groupby('Hero|Publisher')['Height'].mean()